@import '../variables';

.header {
  &-col {
    position: relative;
  }
  &-image {
    width: 200px;
    height: 200px;
  }
  &-card {
    position: absolute;
    top: 95px;
    left: 178px;
    border-radius: 10px;
    box-shadow: 0 0 14px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 14px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 14px 2px rgba(0,0,0,0.15);
    .card-body {
      padding: 5px 40px;
    }
    &-title {
      color: $gray-600;
      font-size: 15px;
      margin-bottom: 5px;
    }
    &-name {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }
  &-description {
    position: absolute;
    top: 180px;
    left: 216px
  }
}
