.publication-item {
  &-card {
    width: 100%;
    min-height: 100px;
    margin: 8px 0;
    box-shadow: 0 0 18px -5px rgba(23,79,92,0.26);
    -webkit-box-shadow: 0 0 18px -5px rgba(23,79,92,0.26);
    -moz-box-shadow: 0 0 18px -5px rgba(23,79,92,0.26);
    cursor: pointer;
    transition: 2s;
    &:hover {
      box-shadow: 0 0 18px -5px rgba(23,79,92,0.76);
      -webkit-box-shadow: 0 0 18px -5px rgba(23,79,92,0.76);
      -moz-box-shadow: 0 0 18px -5px rgba(23,79,92,0.76);
    }
  }
  &-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
  &-title {
    font-size: 20px;
  }
  &-link {
    font-size: 15px;
    margin: 10px 0;
  }

}
